[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/nanogui"]
	path = deps/nanogui
	url = https://github.com/nmwsharp/nanogui.git
[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
[submodule "deps/libigl"]
	path = deps/libigl
	url = https://github.com/libigl/libigl.git
[submodule "deps/cgal"]
	path = deps/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "deps/clipper2"]
	path = deps/clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
[submodule "deps/boundary-first-flattening"]
	path = deps/boundary-first-flattening
	url = https://github.com/GeometryCollective/boundary-first-flattening.git
